#!/sbin/runscript
# Copyright 1999-2006 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header$

depend() {
    need hald dbus
}

start() {
    ebegin "Starting SKVM Daemon"
    start-stop-daemon --start --quiet --exec /usr/bin/skvm
    pidof skvm > /var/run/skvm.pid
    eend $?
}

stop() {
    ebegin "Stopping SKVM Daemon"
    start-stop-daemon --stop --quiet --pidfile /var/run/skvm.pid
    eend $?
}
